html {
  font-family: Helvetica Neue, sans-serif;
  color: #555;
  line-height: 1.6;
}

main {
  margin: 2.5em auto;
  border-left: 1px solid #eee;
  padding: 0 2em;
  max-width: 40em;
}

a {
  background: linear-gradient(#89A7E8 0 0) 
    bottom center/
    var(--underline-width, 0%) 1px
    no-repeat;
  color: #5384d1;
  display: inline-block;
  text-decoration: none;
  transition: background-size 0.3s;
}
a:hover {
  --underline-width: 100%;
}

h1, h2, h3, h4, dt {
  font-family: Aleo, serif;
  font-weight: 400;
  color: #000;
}

dt { margin-top: 1em; }
dd { margin-left: 0; }

/* Tablet+ media query */

@media (min-width: 800px) {

  dt:before {
    display: block; 
    content: "";
  }
  dt, dd {
    display: inline;
  }

}
